html, body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
    background: #222222;
    color: #fff;
}

h1 {
    margin-top: 80px;
}
.list-group-item-heading .smaller{
    font-size: 12px;
    display: inline-block;
    padding-left: 25px;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

#add-form {
    color: #fff;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.kontakt div {
    margin-bottom: 15px;
}

.crudCont {
    padding: 70px 40px;
}

.crudForm {
    margin: 30px 0;
    background: #3b4f63;
    box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.55);
}

.crudForm form {
    max-width: 800px;
    display: block;
    margin: 0 auto;
    color: #000;
}

.crudForm form .btn {
    margin-top: 25px;
}

.grid {
    margin-left: 0;
    padding-left: 0;
}

.grid li {
    list-style: none;
    margin-left: 0;
}

.btn.btn-outline-warning {
    margin-right: 5px;
}

.shadow-top {
    box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.55);

}
.form-center{
    margin-top: 45px;
    margin-bottom: 45px;
}
.form-center button{
    margin-top: 25px;
}
#addnew{
    margin-bottom: 25px;
}
.btn.paid{
    margin-top: 80px;
}
.btn-disabled.paid{
    background: #c1c1c1;
    color:#000
}
.btn-disabled.paid:hover, .btn-disabled.paid:focus, .btn-disabled.paid:active{
    cursor: default;
}
.thin-border-bottom{
}
.hidden-input{
    display: none;
}